<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cities</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>List of cities</h2>

        <table>
            <tr>
                <th>Match No</th>
                <th>Home Team</th>
                <th>Visitor Team</th>
                <th>Visitor Team</th>
                <th>Date</th>
                <th>Time</th>
                <th>Umpire</th>
                <th>Team Won</th>
            </tr>
            
            <tr th:each="match : ${matches}">
                <td th:text="${match.match_no}">Match No</td>
                <td th:text="${match.team_a}">Home Team</td>
                <td th:text="${match.team_b}">Visitor Team</td>
                <td th:text="${match.date}">Date</td>
                <td th:text="${match.time}">Time</td>
                <td th:text="${match.umpire_team}">Umpire</td>
                <td th:text="${match.team_win}">Team Won</td>
            </tr>
        </table>

    </body>
</html>